In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/internship-test2-master/input/question-2/main.csv")
df.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs

In [3]:
df[2:]

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg
5,1001,tomato,vegetable,2021-11-06,2.99,20,kg
6,1001,tomato,vegetable,2021-11-07,2.99,21,kg
...,...,...,...,...,...,...,...
295,1203,butter-0.25,dairy,2021-11-26,11.90,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.90,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.90,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.90,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.90,36,pcs

In [4]:
df.groupby('product_description')['price'].mean()

product_description
apple           2.077778
butter-0.25    11.400000
cucumber        4.532857
grape           4.400000
milk-1.5        6.078571
onion           2.150714
orange          2.714286
plum            4.389655
tomato          3.121034
yogurt-1        6.693103
Name: price, dtype: float64

In [5]:
df["sales_amount"]=df["sales_quantity"].where(df["unit"] !="pcs",df["product_description"].str.split("-",expand=True)[1].astype("float") *\
df["sales_quantity"]
)

In [6]:
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,sales_amount
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg,36.0
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg,23.0
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg,34.0
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg,23.0
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg,34.0

In [7]:
df.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,sales_amount
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs,7.75
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs,7.25
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs,9.25
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs,8.50
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs,9.00

In [8]:
df.to_csv('/content/drive/MyDrive/internship-test2-master/output/answer-2/output2.csv')